.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-top: 50px;
}

.title {
    text-align: center;
    font-size: 25px;
     /* Center the text horizontally */
}

.container table th {
    margin: 50px; 
    padding: 20px;
    justify-content: center;
    align-items: center;
  }